@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.services {
    width: 84%;
    margin: 0 0 0 10vh
}

.services > h3 {
    margin: 12vh 0 6vh 0;
    font-size: 33px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

.services_box {
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services_icons {
    width: 100px;
    height: 100px;
    margin: 40px;
    margin-left: calc(calc(100% - 100px) / 2);
    background: #353535;
    box-shadow: -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.services_icons:hover {
    box-shadow: inset -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8), inset -3px -3px 3px rgba(255,255,255, 0.1), inset 3px 3px 3px rgba(0,0,0,0.8);
}

.services_card {
    width: 32%;
    height: auto;
    background: #353535;
    box-shadow: -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8);
    text-align: center;
    color: #fff;
    margin: 20px 0;
    padding: 20px;
    transition: hover 0.9s linear;
}

.services_card:hover {
    box-shadow: inset -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8), inset -3px -3px 3px rgba(255,255,255, 0.1), inset 3px 3px 3px rgba(0,0,0,0.8);
}

.services_card > h3 {
    font-size: 16px;
    margin-bottom: 10px;
}

.services_card > p {
    font-size: 14px;
}





/*RESPONSIVE*/
@media screen and (max-width: 1200px){
    
}
@media screen and (max-width: 1024px){
    
}
@media screen and (max-width: 976px){
    
}
@media screen and (max-width: 767px){
   
}
@media screen and (max-width: 501px){
   
}
@media screen and (max-width: 460px){
   
}
@media screen and (max-width: 400px){
    
}
@media screen and (max-width: 370px){
    
}
@media (min-width: 300px) and (max-width: 330px){
    .services {
        width: 77%;
        margin: 0;
    }
    
    .services > h3 {
        margin: 8vh 0 2vh 0;
        font-size: 26px;
        text-align: center;
        font-family: 'Indie Flower', cursive;
    }
    
    .services_box {
        width: 100%;
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        flex-direction: column;
    }
    
    .services_icons {
        width: 100px;
        height: 100px;
        margin: 40px;
        margin-left: calc(calc(100% - 100px) / 2);
        background: #353535;
        box-shadow: -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8);
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    
    .services_icons:hover {
        box-shadow: inset -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8), inset -3px -3px 3px rgba(255,255,255, 0.1), inset 3px 3px 3px rgba(0,0,0,0.8);
    }
    
    .services_card {
        width: 98%;
        height: auto;
        background: #353535;
        box-shadow: -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8);
        text-align: center;
        color: #fff;
        margin: 10px 0;
        padding: 20px;
        transition: hover 0.9s linear;
    }
    
    .services_card:hover {
        box-shadow: inset -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8), inset -3px -3px 3px rgba(255,255,255, 0.1), inset 3px 3px 3px rgba(0,0,0,0.8);
    }
    
    .services_card > h3 {
        font-size: 16px;
        margin-bottom: 10px;
    }
    
    .services_card > p {
        font-size: 14px;
    }
}