@import url('https://fonts.googleapis.com/css2?family=Indie+Flower&display=swap');

.about {
    margin: 6vh 0 0 0;
    width: 84%;
    background-color: #353535;
    margin: 0 0 0 10vh
}

.about > h3 {
    margin: 12vh 0 6vh 0;
    font-size: 33px;
    text-align: center;
    font-family: 'Indie Flower', cursive;
}

.about_wrapper {
    width: 100%;
    height: auto;
    display: flex;
}

.skills {
    width: 50%;
    height: auto;
}

.skills > h3 {
    margin-bottom: 10vh;
    font-size: 24px;
    font-family: sans-serif;
}

.experience_items > h3:last-child {
    margin-left: 30px;
}

.skills_items {
    width: 90%;
    margin: 3vh 0;
    margin-top: 15px;
    background: #353535;
    padding: 17px;
    padding-left: 8px;
    display: block;
    display: flex;
    border-radius: 10px;
    display: flex;
    align-items: center;
    box-shadow: -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8);
}

.skillsName {
    font-size: 16px;
    height: 100%;
    width: 120px;
    color: #fff;
}

.skills_parent {
    width: 100%;
    height: 14px;
    background: rgba(0,0,0, 0.8);
    margin: 0 15px;
    border-radius: 40px;
    position: relative;
}

.skills_progress1 {
    position: absolute;
    left: 0;
    top: 0;
    width: 85%;
    height: 100%;
    border-radius: 40px;
    background: #fff;
    animation: progress 2s ease-in-out forwards;
    background: linear-gradient(45deg, #1fe6ff, #673Ab7);
}
.skills_progress2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 78%;
    height: 100%;
    border-radius: 40px;
    background: #fff;
    animation: progress 2s ease-in-out forwards;
    background: linear-gradient(45deg, #3bc0ff, #33ff00);
}
.skills_progress3 {
    position: absolute;
    left: 0;
    top: 0;
    width: 75%;
    height: 100%;
    border-radius: 40px;
    background: #fff;
    animation: progress 2s ease-in-out forwards;
    background: linear-gradient(45deg, #ffee54, #ff00ca);
}
.skills_progress4 {
    position: absolute;
    left: 0;
    top: 0;
    width: 60%;
    height: 100%;
    border-radius: 40px;
    background: #fff;
    animation: progress 2s ease-in-out forwards;
    background: linear-gradient(45deg, #22ffde, #2196f3);
}
.skills_progress5 {
    position: absolute;
    left: 0;
    top: 0;
    width: 52%;
    height: 100%;
    border-radius: 40px;
    background: #fff;
    animation: progress 2s ease-in-out forwards;
    background: linear-gradient(45deg, rgb(16, 114, 194), rgb(255, 0, 140));
}


.experience {
    width: 50%;
}

.experience_items {
    display: flex;
    align-items: center;
}

.experience_items > h3 {
    font-size: 24px;
    margin-bottom: 5vh;
    cursor: pointer;
}


.experience_items > h3:last-child {
    color: coral;
}

.experience_box {
    border-left: 1.7px solid coral;
    height: auto;
    padding: 5vh 0 0 4vh;
}

.experience_box > .card {
    width: 100%;
    height: auto;
    box-shadow: -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8);
    margin: 0 0 16px 0;
    padding: 10px;
    color: white;
    border-radius: 8px;
}

.card > h3 {
    color: coral;
    position: relative;
}

.card > h3::after {
    content: '';
    position: absolute;
    width: 10px;
    height: 10px;
    top: 5px;
    left: -40px;
    background-color: coral;
    border-radius: 50%;
}

.card > h2 {
    font-size: 22px;
    font-family: sans-serif;
    padding: 10px 0;
}

.btn button {
    background: #353535;
    margin-top: 30px;
    border-radius: 30px;
    padding: 8px 10px;
    border: none;
    transition: box-shadow .2s linear;
    box-shadow: -3px -3px 3px rgb(255 255 255 / 10%), 3px 3px 3px rgb(0 0 0 / 80%);
    font-size: 19px;
    margin: 5vh 20px 0 0;
    color: #EC7D96;
    font-weight: 600;
    cursor: pointer;
}

.btn button:active {
    box-shadow: inset -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8), inset -3px -3px 3px rgba(255,255,255, 0.1), inset 3px 3px 3px rgba(0,0,0,0.8);
}


/*RESPONSIVE*/
@media screen and (max-width: 1200px){
    .about {
        margin: 6vh 0 0 0;
        width: 84%;
        background-color: #353535;
        margin: 0 0 0 10vh
    }
    
    .about > h3 {
        margin: 12vh 0 6vh 0;
        font-size: 33px;
        text-align: center;
        font-family: 'Indie Flower', cursive;
    }
    
    .about_wrapper {
        width: 100%;
        height: auto;
        display: flex;
    }
    
    .skills {
        width: 50%;
        height: auto;
    }
    
    .skills > h3 {
        margin-bottom: 10vh;
        font-size: 24px;
        font-family: sans-serif;
    }
    
    .experience_items > h3:last-child {
        margin-left: 30px;
    }
    
    .skills_items {
        width: 90%;
        margin: 3vh 0;
        margin-top: 15px;
        background: #353535;
        padding: 17px;
        padding-left: 8px;
        display: block;
        display: flex;
        border-radius: 10px;
        display: flex;
        align-items: center;
        box-shadow: -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8);
    }
    
    .skillsName {
        font-size: 16px;
        height: 100%;
        width: 120px;
        color: #fff;
    }
    
    .skills_parent {
        width: 100%;
        height: 14px;
        background: rgba(0,0,0, 0.8);
        margin: 0 15px;
        border-radius: 40px;
        position: relative;
    }
    
    .skills_progress1 {
        position: absolute;
        left: 0;
        top: 0;
        width: 85%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #1fe6ff, #673Ab7);
    }
    .skills_progress2 {
        position: absolute;
        left: 0;
        top: 0;
        width: 78%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #3bc0ff, #33ff00);
    }
    .skills_progress3 {
        position: absolute;
        left: 0;
        top: 0;
        width: 75%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #ffee54, #ff00ca);
    }
    .skills_progress4 {
        position: absolute;
        left: 0;
        top: 0;
        width: 60%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #22ffde, #2196f3);
    }
    .skills_progress5 {
        position: absolute;
        left: 0;
        top: 0;
        width: 52%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, rgb(16, 114, 194), rgb(255, 0, 140));
    }
    
    
    .experience {
        width: 50%;
    }
    
    .experience_items {
        display: flex;
        align-items: center;
    }
    
    .experience_items > h3 {
        font-size: 24px;
        margin-bottom: 5vh;
        cursor: pointer;
    }
    
    
    .experience_items > h3:last-child {
        color: coral;
    }
    
    .experience_box {
        border-left: 1.7px solid coral;
        height: auto;
        padding: 5vh 0 0 4vh;
    }
    
    .experience_box > .card {
        width: 100%;
        height: auto;
        box-shadow: -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8);
        margin: 0 0 16px 0;
        padding: 10px;
        color: white;
        border-radius: 8px;
    }
    
    .card > h3 {
        color: coral;
        position: relative;
    }
    
    .card > h3::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        top: 5px;
        left: -38px;
        background-color: coral;
        border-radius: 50%;
    }
    
    .card > h2 {
        font-size: 22px;
        font-family: sans-serif;
        padding: 10px 0;
    }
    
    .btn button {
        background: #353535;
        margin-top: 30px;
        border-radius: 30px;
        padding: 8px 10px;
        border: none;
        transition: box-shadow .2s linear;
        box-shadow: -3px -3px 3px rgb(255 255 255 / 10%), 3px 3px 3px rgb(0 0 0 / 80%);
        font-size: 19px;
        margin: 5vh 20px 0 0;
        color: #EC7D96;
        font-weight: 600;
        cursor: pointer;
    }
    
    .btn button:active {
        box-shadow: inset -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8), inset -3px -3px 3px rgba(255,255,255, 0.1), inset 3px 3px 3px rgba(0,0,0,0.8);
    }
}
@media screen and (max-width: 1024px){
    .about {
        margin: 6vh 0 0 0;
        width: 84%;
        background-color: #353535;
        margin: 0 0 0 10vh
    }
    
    .about > h3 {
        margin: 12vh 0 6vh 0;
        font-size: 33px;
        text-align: center;
        font-family: 'Indie Flower', cursive;
    }
    
    .about_wrapper {
        width: 100%;
        height: auto;
        display: flex;
    }
    
    .skills {
        width: 50%;
        height: auto;
    }
    
    .skills > h3 {
        margin-bottom: 10vh;
        font-size: 24px;
        font-family: sans-serif;
    }
    
    .experience_items > h3:last-child {
        margin-left: 30px;
    }
    
    .skills_items {
        width: 90%;
        margin: 3vh 0;
        margin-top: 15px;
        background: #353535;
        padding: 17px;
        padding-left: 8px;
        display: block;
        display: flex;
        border-radius: 10px;
        display: flex;
        align-items: center;
        box-shadow: -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8);
    }
    
    .skillsName {
        font-size: 16px;
        height: 100%;
        width: 120px;
        color: #fff;
    }
    
    .skills_parent {
        width: 100%;
        height: 14px;
        background: rgba(0,0,0, 0.8);
        margin: 0 15px;
        border-radius: 40px;
        position: relative;
    }
    
    .skills_progress1 {
        position: absolute;
        left: 0;
        top: 0;
        width: 85%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #1fe6ff, #673Ab7);
    }
    .skills_progress2 {
        position: absolute;
        left: 0;
        top: 0;
        width: 78%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #3bc0ff, #33ff00);
    }
    .skills_progress3 {
        position: absolute;
        left: 0;
        top: 0;
        width: 75%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #ffee54, #ff00ca);
    }
    .skills_progress4 {
        position: absolute;
        left: 0;
        top: 0;
        width: 60%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #22ffde, #2196f3);
    }
    .skills_progress5 {
        position: absolute;
        left: 0;
        top: 0;
        width: 52%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, rgb(16, 114, 194), rgb(255, 0, 140));
    }
    
    
    .experience {
        width: 50%;
    }
    
    .experience_items {
        display: flex;
        align-items: center;
    }
    
    .experience_items > h3 {
        font-size: 24px;
        margin-bottom: 5vh;
        cursor: pointer;
    }
    
    
    .experience_items > h3:last-child {
        color: coral;
    }
    
    .experience_box {
        border-left: 1.7px solid coral;
        height: auto;
        padding: 5vh 0 0 4vh;
    }
    
    .experience_box > .card {
        width: 100%;
        height: auto;
        box-shadow: -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8);
        margin: 0 0 16px 0;
        padding: 10px;
        color: white;
        border-radius: 8px;
    }
    
    .card > h3 {
        color: coral;
        position: relative;
    }
    
    .card > h3::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        top: 5px;
        left: -38px;
        background-color: coral;
        border-radius: 50%;
    }
    
    .card > h2 {
        font-size: 22px;
        font-family: sans-serif;
        padding: 10px 0;
    }
    
    .btn button {
        background: #353535;
        margin-top: 30px;
        border-radius: 30px;
        padding: 8px 10px;
        border: none;
        transition: box-shadow .2s linear;
        box-shadow: -3px -3px 3px rgb(255 255 255 / 10%), 3px 3px 3px rgb(0 0 0 / 80%);
        font-size: 19px;
        margin: 5vh 20px 0 0;
        color: #EC7D96;
        font-weight: 600;
        cursor: pointer;
    }
    
    .btn button:active {
        box-shadow: inset -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8), inset -3px -3px 3px rgba(255,255,255, 0.1), inset 3px 3px 3px rgba(0,0,0,0.8);
    }
}
@media screen and (max-width: 976px){
    .about {
        margin: 6vh 0 0 0;
        width: 90%;
        background-color: #353535;
        margin: 0 0 0 8px;
    }
    
    .about > h3 {
        margin: 12vh 0 6vh 0;
        font-size: 33px;
        text-align: center;
        font-family: 'Indie Flower', cursive;
    }
    
    .about_wrapper {
        width: 100%;
        height: auto;
        display: flex;
    }
    
    .skills {
        width: 50%;
        height: auto;
    }
    
    .skills > h3 {
        margin-bottom: 10vh;
        font-size: 24px;
        font-family: sans-serif;
    }
    
    .experience_items > h3:last-child {
        margin-left: 30px;
    }
    
    .skills_items {
        width: 90%;
        margin: 3vh 0;
        margin-top: 15px;
        background: #353535;
        padding: 13px;
        padding-left: 8px;
        display: block;
        display: flex;
        border-radius: 10px;
        display: flex;
        align-items: center;
        box-shadow: -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8);
    }
    
    .skillsName {
        font-size: 16px;
        height: 100%;
        width: 120px;
        color: #fff;
    }
    
    .skills_parent {
        width: 100%;
        height: 12px;
        background: rgba(0,0,0, 0.8);
        margin: 0 15px;
        border-radius: 40px;
        position: relative;
    }
    
    .skills_progress1 {
        position: absolute;
        left: 0;
        top: 0;
        width: 85%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #1fe6ff, #673Ab7);
    }
    .skills_progress2 {
        position: absolute;
        left: 0;
        top: 0;
        width: 78%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #3bc0ff, #33ff00);
    }
    .skills_progress3 {
        position: absolute;
        left: 0;
        top: 0;
        width: 75%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #ffee54, #ff00ca);
    }
    .skills_progress4 {
        position: absolute;
        left: 0;
        top: 0;
        width: 60%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #22ffde, #2196f3);
    }
    .skills_progress5 {
        position: absolute;
        left: 0;
        top: 0;
        width: 52%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, rgb(16, 114, 194), rgb(255, 0, 140));
    }
    
    
    .experience {
        width: 50%;
    }
    
    .experience_items {
        display: flex;
        align-items: center;
    }
    
    .experience_items > h3 {
        font-size: 21px;
        margin-bottom: 5vh;
        cursor: pointer;
    }
    
    
    .experience_items > h3:last-child {
        color: coral;
    }
    
    .experience_box {
        border-left: 1.7px solid coral;
        height: auto;
        padding: 5vh 0 0 4vh;
    }
    
    .experience_box > .card {
        width: 100%;
        height: auto;
        box-shadow: -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8);
        margin: 0 0 16px 0;
        padding: 10px;
        color: white;
        border-radius: 8px;
    }
    
    .card > h3 {
        color: coral;
        position: relative;
    }
    
    .card > h3::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        top: 5px;
        left: -38px;
        background-color: coral;
        border-radius: 50%;
    }
    
    .card > h2 {
        font-size: 17px;
        font-family: sans-serif;
        padding: 10px 0;
    }

    .card > p {
        font-size: 15px;
        font-family: sans-serif;
        padding: 10px 0;
    }
    
    .btn button {
        background: #353535;
        margin-top: 30px;
        border-radius: 30px;
        padding: 10px 12px;
        border: none;
        transition: box-shadow .2s linear;
        box-shadow: -3px -3px 3px rgb(255 255 255 / 10%), 3px 3px 3px rgb(0 0 0 / 80%);
        font-size: 16px;
        margin: 5vh 20px 0 0;
        color: #EC7D96;
        font-weight: 600;
        cursor: pointer;
    }
    
    .btn button:active {
        box-shadow: inset -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8), inset -3px -3px 3px rgba(255,255,255, 0.1), inset 3px 3px 3px rgba(0,0,0,0.8);
    }
}
@media screen and (max-width: 767px){
    .about {
        margin: 6vh 0 0 0;
        width: 86%;
        background-color: #353535;
    }
    
    .about > h3 {
        margin: -6vh 0 6vh 0;
        font-size: 29px;
        font-family: 'Indie Flower', cursive;
        text-align: center !important;
    }
    
    .about_wrapper {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    
    .skills {
        width: 100%;
        height: auto;
    }
    
    .skills > h3 {
        margin-bottom: 5vh;
        font-size: 20px;
        font-family: sans-serif;
    }
    
    .experience_items > h3:last-child {
        margin-left: 30px;
    }
    
    .skills_items {
        width: 100%;
        margin: 3vh 0;
        margin-top: 15px;
        background: #353535;
        padding: 12px;
        padding-left: 8px;
        display: block;
        display: flex;
        border-radius: 10px;
        display: flex;
        align-items: center;
        box-shadow: -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8);
    }

    .skillsName {
        font-size: 13px;
        height: 50%;
        width: 120px;
        color: #fff;
    }
    
    .skills_parent {
        width: 100%;
        height: 12px;
        background: rgba(0,0,0, 0.8);
        margin: 0 5px;
        border-radius: 40px;
        position: relative;
    }
    
    .skills_progress1 {
        position: absolute;
        left: 0;
        top: 0;
        width: 85%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #1fe6ff, #673Ab7);
    }
    .skills_progress2 {
        position: absolute;
        left: 0;
        top: 0;
        width: 78%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #3bc0ff, #33ff00);
    }
    .skills_progress3 {
        position: absolute;
        left: 0;
        top: 0;
        width: 75%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #ffee54, #ff00ca);
    }
    .skills_progress4 {
        position: absolute;
        left: 0;
        top: 0;
        width: 60%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #22ffde, #2196f3);
    }
    .skills_progress5 {
        position: absolute;
        left: 0;
        top: 0;
        width: 52%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, rgb(16, 114, 194), rgb(255, 0, 140));
    }
    
    
    .experience {
        width: 100%;
    }
    
    .experience_items {
        display: flex;
        align-items: center;
    }
    
    .experience_items > h3 {
        font-size: 22px;
        margin: 20px 0 4vh 0;
        cursor: pointer;
    }
    
    
    .experience_items > h3:last-child {
        color: coral;
    }
    
    .experience_box {
        border-left: 1.7px solid coral;
        height: auto;
        padding: 5vh 0 0 4vh;
    }
    
    .experience_box > .card {
        width: 100%;
        height: auto;
        box-shadow: -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8);
        margin: 0 0 16px 0;
        padding: 10px;
        color: white;
        border-radius: 8px;
    }
    
    .card > h3 {
        color: coral;
        position: relative;
        font-size: 16px;
    }
    
    .card > h3::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        top: 5px;
        left: -38.2px;
        background-color: coral;
        border-radius: 50%;
    }
    
    .card > h2 {
        font-size: 17px;
        font-family: sans-serif;
        padding: 10px 0;
    }

    .card > p {
        font-size: 14px;
    }

    .btn button {
        background: #353535;
        margin: 0;
        border-radius: 30px;
        padding: 10px 13px;
        border: none;
        transition: box-shadow .2s linear;
        box-shadow: -3px -3px 3px rgb(255 255 255 / 10%), 3px 3px 3px rgb(0 0 0 / 80%);
        font-size: 15px;
        margin: 4vh 18px 0 0px;
        color: #EC7D96;
        font-weight: 500;
        cursor: pointer;
    }
    
    .btn button:active {
        box-shadow: inset -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8), inset -3px -3px 3px rgba(255,255,255, 0.1), inset 3px 3px 3px rgba(0,0,0,0.8);
    }
}
@media screen and (max-width: 501px){
    .about {
        margin: 6vh 0 0 0;
        width: 84%;
        background-color: #353535;
    }
    
    .about > h3 {
        margin: -6vh 0 6vh 0;
        font-size: 29px;
        font-family: 'Indie Flower', cursive;
        text-align: center !important;
    }
    
    .about_wrapper {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    
    .skills {
        width: 100%;
        height: auto;
    }
    
    .skills > h3 {
        margin-bottom: 5vh;
        font-size: 20px;
        font-family: sans-serif;
    }
    
    .experience_items > h3:last-child {
        margin-left: 30px;
    }
    
    .skills_items {
        width: 100%;
        margin: 3vh 0;
        margin-top: 15px;
        background: #353535;
        padding: 12px;
        padding-left: 8px;
        display: block;
        display: flex;
        border-radius: 10px;
        display: flex;
        align-items: center;
        box-shadow: -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8);
    }

    .skillsName {
        font-size: 13px;
        height: 50%;
        width: 120px;
        color: #fff;
    }
    
    .skills_parent {
        width: 100%;
        height: 12px;
        background: rgba(0,0,0, 0.8);
        margin: 0 5px;
        border-radius: 40px;
        position: relative;
    }
    
    .skills_progress1 {
        position: absolute;
        left: 0;
        top: 0;
        width: 85%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #1fe6ff, #673Ab7);
    }
    .skills_progress2 {
        position: absolute;
        left: 0;
        top: 0;
        width: 78%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #3bc0ff, #33ff00);
    }
    .skills_progress3 {
        position: absolute;
        left: 0;
        top: 0;
        width: 75%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #ffee54, #ff00ca);
    }
    .skills_progress4 {
        position: absolute;
        left: 0;
        top: 0;
        width: 60%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #22ffde, #2196f3);
    }
    .skills_progress5 {
        position: absolute;
        left: 0;
        top: 0;
        width: 52%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, rgb(16, 114, 194), rgb(255, 0, 140));
    }
    
    
    .experience {
        width: 100%;
    }
    
    .experience_items {
        display: flex;
        align-items: center;
    }
    
    .experience_items > h3 {
        font-size: 22px;
        margin: 20px 0 4vh 0;
        cursor: pointer;
    }
    
    
    .experience_items > h3:last-child {
        color: coral;
    }
    
    .experience_box {
        border-left: 1.7px solid coral;
        height: auto;
        padding: 5vh 0 0 4vh;
    }
    
    .experience_box > .card {
        width: 100%;
        height: auto;
        box-shadow: -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8);
        margin: 0 0 16px 0;
        padding: 10px;
        color: white;
        border-radius: 8px;
    }
    
    .card > h3 {
        color: coral;
        position: relative;
        font-size: 16px;
    }
    
    .card > h3::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        top: 5px;
        left: -37.7px;
        background-color: coral;
        border-radius: 50%;
    }
    
    .card > h2 {
        font-size: 17px;
        font-family: sans-serif;
        padding: 10px 0;
    }

    .card > p {
        font-size: 14px;
    }

    .btn button {
        background: #353535;
        margin: 0;
        border-radius: 30px;
        padding: 10px 13px;
        border: none;
        transition: box-shadow .2s linear;
        box-shadow: -3px -3px 3px rgb(255 255 255 / 10%), 3px 3px 3px rgb(0 0 0 / 80%);
        font-size: 15px;
        margin: 4vh 18px 0 0px;
        color: #EC7D96;
        font-weight: 500;
        cursor: pointer;
    }
    
    .btn button:active {
        box-shadow: inset -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8), inset -3px -3px 3px rgba(255,255,255, 0.1), inset 3px 3px 3px rgba(0,0,0,0.8);
    }
}
@media screen and (max-width: 460px){
    .about {
        margin: 6vh 0 0 0;
        width: 81%;
        background-color: #353535;
    }
    
    .about > h3 {
        margin: -6vh 0 6vh 0;
        font-size: 29px;
        font-family: 'Indie Flower', cursive;
        text-align: center !important;
    }
    
    .about_wrapper {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    
    .skills {
        width: 100%;
        height: auto;
    }
    
    .skills > h3 {
        margin-bottom: 5vh;
        font-size: 20px;
        font-family: sans-serif;
    }
    
    .experience_items > h3:last-child {
        margin-left: 30px;
    }
    
    .skills_items {
        width: 100%;
        margin: 3vh 0;
        margin-top: 15px;
        background: #353535;
        padding: 10px;
        padding-left: 8px;
        display: block;
        display: flex;
        border-radius: 10px;
        display: flex;
        align-items: center;
        box-shadow: -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8);
    }

    .skillsName {
        font-size: 13px;
        height: 50%;
        width: 120px;
        color: #fff;
    }
    
    .skills_parent {
        width: 100%;
        height: 11px;
        background: rgba(0,0,0, 0.8);
        margin: 0 5px;
        border-radius: 40px;
        position: relative;
    }
    
    .skills_progress1 {
        position: absolute;
        left: 0;
        top: 0;
        width: 85%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #1fe6ff, #673Ab7);
    }
    .skills_progress2 {
        position: absolute;
        left: 0;
        top: 0;
        width: 78%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #3bc0ff, #33ff00);
    }
    .skills_progress3 {
        position: absolute;
        left: 0;
        top: 0;
        width: 75%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #ffee54, #ff00ca);
    }
    .skills_progress4 {
        position: absolute;
        left: 0;
        top: 0;
        width: 60%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #22ffde, #2196f3);
    }
    .skills_progress5 {
        position: absolute;
        left: 0;
        top: 0;
        width: 52%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, rgb(16, 114, 194), rgb(255, 0, 140));
    }
    
    
    .experience {
        width: 100%;
    }
    
    .experience_items {
        display: flex;
        align-items: center;
    }
    
    .experience_items > h3 {
        font-size: 20px;
        margin: 20px 0 4vh 0;
        cursor: pointer;
    }
    
    
    .experience_items > h3:last-child {
        color: coral;
    }
    
    .experience_box {
        border-left: 1.7px solid coral;
        height: auto;
        padding: 5vh 0 0 4vh;
    }
    
    .experience_box > .card {
        width: 100%;
        height: auto;
        box-shadow: -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8);
        margin: 0 0 16px 0;
        padding: 10px;
        color: white;
        border-radius: 8px;
    }
    
    .card > h3 {
        color: coral;
        position: relative;
        font-size: 16px;
    }
    
    .card > h3::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        top: 5px;
        left: -37.8px;
        background-color: coral;
        border-radius: 50%;
    }
    
    .card > h2 {
        font-size: 17px;
        font-family: sans-serif;
        padding: 10px 0;
    }

    .card > p {
        font-size: 14px;
    }

    .btn button {
        background: #353535;
        margin: 0;
        border-radius: 30px;
        padding: 10px 13px;
        border: none;
        transition: box-shadow .2s linear;
        box-shadow: -3px -3px 3px rgb(255 255 255 / 10%), 3px 3px 3px rgb(0 0 0 / 80%);
        font-size: 15px;
        margin: 4vh 18px 0 0px;
        color: #EC7D96;
        font-weight: 500;
        cursor: pointer;
    }
    
    .btn button:active {
        box-shadow: inset -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8), inset -3px -3px 3px rgba(255,255,255, 0.1), inset 3px 3px 3px rgba(0,0,0,0.8);
    }
}
@media screen and (max-width: 400px){
    .about {
        margin: 6vh 0 0 0;
        width: 81%;
        background-color: #353535;
    }
    
    .about > h3 {
        margin: -6vh 0 6vh 0;
        font-size: 28px;
        font-family: 'Indie Flower', cursive;
        text-align: center !important;
    }
    
    .about_wrapper {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    
    .skills {
        width: 100%;
        height: auto;
    }
    
    .skills > h3 {
        margin-bottom: 5vh;
        font-size: 20px;
        font-family: sans-serif;
    }
    
    .experience_items > h3:last-child {
        margin-left: 30px;
    }
    
    .skills_items {
        width: 99%;
        margin: 3vh 0;
        margin-top: 15px;
        background: #353535;
        padding: 10px;
        padding-left: 8px;
        display: block;
        display: flex;
        border-radius: 10px;
        display: flex;
        align-items: center;
        box-shadow: -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8);
    }

    .skillsName {
        font-size: 13px;
        height: 50%;
        width: 120px;
        color: #fff;
    }
    
    .skills_parent {
        width: 100%;
        height: 11px;
        background: rgba(0,0,0, 0.8);
        margin: 0 5px;
        border-radius: 40px;
        position: relative;
    }
    
    .skills_progress1 {
        position: absolute;
        left: 0;
        top: 0;
        width: 85%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #1fe6ff, #673Ab7);
    }
    .skills_progress2 {
        position: absolute;
        left: 0;
        top: 0;
        width: 78%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #3bc0ff, #33ff00);
    }
    .skills_progress3 {
        position: absolute;
        left: 0;
        top: 0;
        width: 75%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #ffee54, #ff00ca);
    }
    .skills_progress4 {
        position: absolute;
        left: 0;
        top: 0;
        width: 60%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #22ffde, #2196f3);
    }
    .skills_progress5 {
        position: absolute;
        left: 0;
        top: 0;
        width: 52%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, rgb(16, 114, 194), rgb(255, 0, 140));
    }
    
    
    .experience {
        width: 99%;
    }
    
    .experience_items {
        display: flex;
        align-items: center;
    }
    
    .experience_items > h3 {
        font-size: 20px;
        margin: 20px 0 4vh 0;
        cursor: pointer;
    }
    
    
    .experience_items > h3:last-child {
        color: coral;
    }
    
    .experience_box {
        border-left: 1.7px solid coral;
        height: auto;
        padding: 5vh 0 0 4vh;
    }
    
    .experience_box > .card {
        width: 100%;
        height: auto;
        box-shadow: -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8);
        margin: 0 0 16px 0;
        padding: 10px;
        color: white;
        border-radius: 8px;
    }
    
    .card > h3 {
        color: coral;
        position: relative;
        font-size: 16px;
    }
    
    .card > h3::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        top: 5px;
        left: -37.7px;
        background-color: coral;
        border-radius: 50%;
    }
    
    .card > h2 {
        font-size: 17px;
        font-family: sans-serif;
        padding: 10px 0;
    }

    .card > p {
        font-size: 14px;
    }

    .btn button {
        background: #353535;
        margin: 0;
        border-radius: 30px;
        padding: 10px 13px;
        border: none;
        transition: box-shadow .2s linear;
        box-shadow: -3px -3px 3px rgb(255 255 255 / 10%), 3px 3px 3px rgb(0 0 0 / 80%);
        font-size: 15px;
        margin: 4vh 18px 0 0px;
        color: #EC7D96;
        font-weight: 500;
        cursor: pointer;
    }
    
    .btn button:active {
        box-shadow: inset -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8), inset -3px -3px 3px rgba(255,255,255, 0.1), inset 3px 3px 3px rgba(0,0,0,0.8);
    }
}
@media screen and (max-width: 370px){
    .about {
        margin: 6vh 0 0 0;
        width: 81%;
        background-color: #353535;
    }
    
    .about > h3 {
        margin: -3vh 0 6vh 0;
        font-size: 26px;
        font-family: 'Indie Flower', cursive;
        text-align: center !important;
    }
    
    .about_wrapper {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    
    .skills {
        width: 100%;
        height: auto;
    }
    
    .skills > h3 {
        margin-bottom: 5vh;
        font-size: 18px;
        font-family: sans-serif;
    }
    
    .experience_items > h3:last-child {
        margin-left: 30px;
    }
    
    .skills_items {
        width: 99.3%;
        margin: 3vh 0;
        margin-top: 15px;
        background: #353535;
        padding: 8px;
        padding-left: 8px;
        display: block;
        display: flex;
        border-radius: 10px;
        display: flex;
        align-items: center;
        box-shadow: -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8);
    }

    .skillsName {
        font-size: 12px;
        height: 50%;
        width: 120px;
        color: #fff;
    }
    
    .skills_parent {
        width: 100%;
        height: 11px;
        background: rgba(0,0,0, 0.8);
        margin: 0 5px;
        border-radius: 40px;
        position: relative;
    }
    
    .skills_progress1 {
        position: absolute;
        left: 0;
        top: 0;
        width: 85%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #1fe6ff, #673Ab7);
    }
    .skills_progress2 {
        position: absolute;
        left: 0;
        top: 0;
        width: 78%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #3bc0ff, #33ff00);
    }
    .skills_progress3 {
        position: absolute;
        left: 0;
        top: 0;
        width: 75%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #ffee54, #ff00ca);
    }
    .skills_progress4 {
        position: absolute;
        left: 0;
        top: 0;
        width: 60%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #22ffde, #2196f3);
    }
    .skills_progress5 {
        position: absolute;
        left: 0;
        top: 0;
        width: 52%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, rgb(16, 114, 194), rgb(255, 0, 140));
    }
    
    
    .experience {
        width: 99.3%;
    }
    
    .experience_items {
        display: flex;
        align-items: center;
    }
    
    .experience_items > h3 {
        font-size: 17px;
        margin: 20px 0 4vh 0;
        cursor: pointer;
    }
    
    
    .experience_items > h3:last-child {
        color: coral;
    }
    
    .experience_box {
        border-left: 1.7px solid coral;
        height: auto;
        padding: 5vh 0 0 4vh;
    }
    
    .experience_box > .card {
        width: 100%;
        height: auto;
        box-shadow: -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8);
        margin: 0 0 16px 0;
        padding: 10px;
        color: white;
        border-radius: 8px;
    }
    
    .card > h3 {
        color: coral;
        position: relative;
        font-size: 14px;
    }
    
    .card > h3::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        top: 5px;
        left: -38px;
        background-color: coral;
        border-radius: 50%;
    }
    
    .card > h2 {
        font-size: 15px;
        font-family: sans-serif;
        padding: 10px 0;
    }

    .card > p {
        font-size: 13px;
    }

    .btn button {
        background: #353535;
        margin: 0;
        border-radius: 30px;
        padding: 10px;
        border: none;
        transition: box-shadow .2s linear;
        box-shadow: -3px -3px 3px rgb(255 255 255 / 10%), 3px 3px 3px rgb(0 0 0 / 80%);
        font-size: 12px;
        margin: 4vh 18px 0 0px;
        color: #EC7D96;
        font-weight: 400;
        cursor: pointer;
    }
    
    .btn button:active {
        box-shadow: inset -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8), inset -3px -3px 3px rgba(255,255,255, 0.1), inset 3px 3px 3px rgba(0,0,0,0.8);
    }
}
@media (min-width: 300px) and (max-width: 330px){
    .about {
        margin: 6vh 0 0 0;
        width: 78%;
        background-color: #353535;
        /* border: 1px solid red; */
    }
    
    .about > h3 {
        margin: 12vh 0 6vh 0;
        font-size: 26px;
        font-family: 'Indie Flower', cursive;
        text-align: center !important;
    }
    
    .about_wrapper {
        width: 100%;
        height: auto;
        display: flex;
        flex-direction: column;
    }
    
    .skills {
        width: 100%;
        height: auto;
    }
    
    .skills > h3 {
        margin-bottom: 5vh;
        font-size: 18px;
        font-family: sans-serif;
    }
    
    .experience_items > h3:last-child {
        margin-left: 30px;
    }
    
    .skills_items {
        width: 97%;
        margin: 3vh 0;
        margin-top: 15px;
        background: #353535;
        padding: 5px;
        padding-left: 8px;
        display: block;
        display: flex;
        border-radius: 10px;
        display: flex;
        align-items: center;
        box-shadow: -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8);
    }

    .skillsName {
        font-size: 11px;
        height: 50%;
        width: 120px;
        color: #fff;
    }
    
    .skills_parent {
        width: 100%;
        height: 10px;
        background: rgba(0,0,0, 0.8);
        margin: 0 5px;
        border-radius: 40px;
        position: relative;
    }
    
    .skills_progress1 {
        position: absolute;
        left: 0;
        top: 0;
        width: 85%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #1fe6ff, #673Ab7);
    }
    .skills_progress2 {
        position: absolute;
        left: 0;
        top: 0;
        width: 78%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #3bc0ff, #33ff00);
    }
    .skills_progress3 {
        position: absolute;
        left: 0;
        top: 0;
        width: 75%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #ffee54, #ff00ca);
    }
    .skills_progress4 {
        position: absolute;
        left: 0;
        top: 0;
        width: 60%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, #22ffde, #2196f3);
    }
    .skills_progress5 {
        position: absolute;
        left: 0;
        top: 0;
        width: 52%;
        height: 100%;
        border-radius: 40px;
        background: #fff;
        animation: progress 2s ease-in-out forwards;
        background: linear-gradient(45deg, rgb(16, 114, 194), rgb(255, 0, 140));
    }
    
    
    .experience {
        width: 97%;
    }
    
    .experience_items {
        display: flex;
        align-items: center;
    }
    
    .experience_items > h3 {
        font-size: 15px;
        margin: 20px 0 4vh 0;
        cursor: pointer;
    }
    
    
    .experience_items > h3:last-child {
        color: coral;
    }
    
    .experience_box {
        border-left: 1.7px solid coral;
        height: auto;
        padding: 5vh 0 0 4vh;
    }
    
    .experience_box > .card {
        width: 100%;
        height: auto;
        box-shadow: -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8);
        margin: 0 0 16px 0;
        padding: 10px;
        color: white;
        border-radius: 8px;
    }
    
    .card > h3 {
        color: coral;
        position: relative;
        font-size: 14px;
    }
    
    .card > h3::after {
        content: '';
        position: absolute;
        width: 10px;
        height: 10px;
        top: 5px;
        left: -39px;
        background-color: coral;
        border-radius: 50%;
    }
    
    .card > h2 {
        font-size: 14px;
        font-family: sans-serif;
        padding: 10px 0;
    }

    .card > p {
        font-size: 12px;
    }

    .btn button {
        background: #353535;
        margin: 0;
        border-radius: 30px;
        padding: 10px;
        border: none;
        transition: box-shadow .2s linear;
        box-shadow: -3px -3px 3px rgb(255 255 255 / 10%), 3px 3px 3px rgb(0 0 0 / 80%);
        font-size: 12px;
        margin: 4vh 18px 0 0px;
        color: #EC7D96;
        font-weight: 400;
        cursor: pointer;
    }
    
    .btn button:active {
        box-shadow: inset -3px -3px 3px rgba(255,255,255, 0.1), 3px 3px 3px rgba(0,0,0,0.8), inset -3px -3px 3px rgba(255,255,255, 0.1), inset 3px 3px 3px rgba(0,0,0,0.8);
    }
}